
.about {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text-color);
    margin-left: 9rem;
}

.about h3
.zertifikate h3 {
    font-size: 2rem;
}

.about h2 
.zertifikate h2
{
    font-size: 3rem;
    color: var(--text-color);
}

.aboutimg {
    height: 60%;
    width: 80%;
    background-image: url(./images/freigestellt/3.png);
    background-position: center;
    filter: grayscale(100%);
}

/* ZERTIFIKATE */

.zertifikate {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2rem;
}

.zertifikate img {
    width: 30rem;
    margin: 0 auto;
}


@media(min-width: 768px) {

    .about {
        display: flex;
        position: relative;
        width: 100%;
        height: 120%;
        padding-bottom: 20rem;
    }

    .about-text {
        width: 55%;
        height: 100%;
        padding: 2rem;
        position: absolute;
        left: 0;
        text-align: justify;
    }
    .aboutimg {
        width: 40%;
        height: 90rem;
        display: flex;
        background-repeat: no-repeat;
        position: absolute;
        background-size: contain;
        right: 0;
        top: 12rem;
        filter: grayscale(100%);
    }

    .aboutimg:hover {
        filter: grayscale(0%);
    }

    .zertifikate {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 80rem;
    }
    
    .zertifikate img {
        width: 50rem;
        margin: 0 auto;
    }
   
}



